<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>SIGN IN SUCCESSFUL</h1>
    <br>
    <a href="http://127.0.0.1:5501/index.html">CLICK HERE TO NAVIGATE TO farmhub.com</a>
</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>SIGN IN SUCCESSFUL</h1>
    <br>
    <a href="http://127.0.0.1:5501/index.html">CLICK HERE TO NAVIGATE TO farmhub.com</a>
</body>
>>>>>>> 89a435b (Your message about the commit)
</html>